@CHARSET "ISO-8859-1";

body{
	background-color: #138D75;
	font-family: Arial;
	font-size: 15px;
	color: #34495e;
}

.egcc_panel{
  border: 2px solid #800000;
  border-radius: 10px;
  background-color:white;
  color: #34495e;
  margin: 5px;
  padding: 5px;
}

.egcc_pagina{
	width: 1020px;
	margin: 5px auto;
	padding: 5px;
	background-color: #FFFACD;
}

.egcc_cabecera{
	width:1000px;
	margin: 5px;
	padding: 5px;
	background-color: #D6DBDF;
}

.egcc_menu{																		
	width: 1000px;
	margin: 5px;
	padding: 5px;
	background-color: #138D75;
	color: white;
}

.egcc_contenido{
	width: 1000px;
	margin: 5px;
	padding: 5px;
	background-color: white;
	color: #34495e;
}

.egcc_pie{
	width: 1000px;
	margin: 5px;
	padding: 5px;
	background-color: #2980b9;
	color: white;
}
